<!DOCTYPE html>
<html>
  <head>
    <title>RailsChess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :channels %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |type, message| %>
        <% if message %>
          <div class="alert fade in flash-notice">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            <p class="text-center flash-message"><%= message %></p>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
